.z-index--1 {
    z-index: -1;
}

.z-index-1 {
    z-index: 1;
}

.z-index-2 {
    z-index: 2;
}

.z-index-3 {
    z-index: 3;
}

.z-index-10 {
    z-index: 10;
}

.z-index-100 {
    z-index: 100;
}

.z-index-200 {
    z-index: 200;
}

.object-fit-cover {
    object-fit: cover !important;
}

.card-img,.card-img-top,.card-img-bottom {
    width: 115%
}

.bg-padding {
    padding: $spacer*2 0;
}

.block__tint-overlay {
    opacity: .85;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $primary;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.block__img-overlay {
    opacity: .85;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

main {
    overflow-x: hidden;
}

.bg-white {
    background-color: #fff;
}

.v-hidden {
    visibility: hidden !important;
    @include media-breakpoint-down(md) {
        display: none !important;
    }
}

.header-decorative {
    width: 100%;
    span {
        display: block;
        width: 148px;
        height: 5px;
        background-color: $primary;
        left: 0;
        right: 0;
    }
}

.full-width-content {
    display: flex;
    justify-content: center;
    align-items: center;
    @include media-breakpoint-up(lg) {
        min-height: 690px;
    }
    h3, .h3 {
        text-transform: uppercase;
    }
    img.full-width-content-header-icon {
        @include media-breakpoint-up(sm) {
            max-width: 312px;
        }
    }
}
.full-width-content {
    @include media-breakpoint-up(lg) {
        min-height: 532px;
    }
    & + .tall {
        @include media-breakpoint-up(lg) {
            min-height: 690px;
        }
    }
}
.full-width-content--dark {
    margin-bottom: 0;
    background-color: $primary;
    padding-top: $spacer*5;
    padding-bottom: $spacer*5;
    .block__img-overlay {
        background-color: $primary;
    }
    img.full-width-content--dark--bg {
        display: block !important;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    * {
        color: white !important;
    }
    .btn.btn-primary {
        @extend .btn-light;
        color: $primary !important;
    }
    .header-decorative {
        span {
            background-color: #fff;
        }
    }
}

.ico-player {
    left: 14.375%;
    width: 43.125%;
    border: 1px solid red;
}

.text-media-wide--img {
    width: 74%;
    height: auto;
    transform: translateY(-48%) !important;
    top: 50% !important;
    z-index: 3;
    @include media-breakpoint-up(xl) {
        width: 60%;
        width: calc(1104px / 1.5);
    }
    @include media-breakpoint-up(xxl) {
        width: 60%;
        width: calc(1324px / 1.8);
    }
    @include media-breakpoint-up(xxxl) {
        width: 50%;
        width: calc(1582px / 1.7);
    }
    @include media-breakpoint-up(xwide) {
        width: 50%;
        width: calc(1766px / 2);
    }
}

.order-lg-last .text-media-wide--img {
    left: 51% !important;
}

.order-lg-first .text-media-wide--img {
    right: 59% !important;
}

