.z-index--1 {
    z-index: -1;
}

.z-index-1 {
    z-index: 1;
}

.z-index-2 {
    z-index: 2;
}

.z-index-3 {
    z-index: 3;
}

.z-index-10 {
    z-index: 10;
}

.z-index-100 {
    z-index: 100;
}

.z-index-200 {
    z-index: 200;
}

.object-fit-cover {
    object-fit: cover !important;
}

.card-img, .card-img-top, .card-img-bottom {
    width: 115%
}

.bg-padding {
    padding: $spacer*2 0;
}

.block__tint-overlay {
    opacity: .85;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $primary;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.block__img-overlay {
    opacity: .85;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.bg-white {
    background-color: #fff;
}

.v-hidden {
    visibility: hidden !important;
    @include media-breakpoint-down(md) {
        display: none !important;
    }
}

.header-decorative {
    display: flex;
    width: 100%;

    span {
        display: block;
        width: 148px;
        height: 5px;
        background-color: $primary;
        left: 0;
        right: 0;
    }
}

.full-width-content {
    .header-decorative {
        justify-content: center;
    }
}

main {
    position: relative;
    z-index: -10;
}

.full-width-content {
    display: flex;
    justify-content: center;
    align-items: center;
    @include media-breakpoint-up(lg) {
        min-height: 690px;
    }

    h3, .h3 {
        text-transform: uppercase;
    }

    img.full-width-content-header-icon {
        @include media-breakpoint-up(sm) {
            max-width: 312px;
        }
    }
}

.full-width-content {
    @include media-breakpoint-up(lg) {
        min-height: 532px;
    }

    & + .tall {
        @include media-breakpoint-up(lg) {
            min-height: 690px;
        }
    }
}

.full-width-content-pull-for-gradient {
    background-color: $primary;

    .container {
        @include media-breakpoint-up(md) {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='539.775' height='361.242' viewBox='0 0 539.775 361.242'%3E%3Cdefs%3E%3ClinearGradient id='linear-gradient' y1='4.59' x2='1.198' y2='4.545' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%23f8f8f8'/%3E%3Cstop offset='1' stop-color='%23fff' stop-opacity='0'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg id='Group_192' data-name='Group 192' transform='translate(0 0)'%3E%3Cpath id='Path_1' data-name='Path 1' d='M278.62,0l40.2,40.138H100.61V0Z' transform='translate(-100.61 0)' fill='url(%23linear-gradient)'/%3E%3Cpath id='Path_2' data-name='Path 2' d='M333.858,25.116l40.2,40.138H75.457V25.116Z' transform='translate(-75.456 55.16)' fill='url(%23linear-gradient)'/%3E%3Cpath id='Path_3' data-name='Path 3' d='M389.1,50.233l40.2,40.138H50.305V50.233Z' transform='translate(-50.304 110.32)' fill='url(%23linear-gradient)'/%3E%3Cpath id='Path_4' data-name='Path 4' d='M444.335,75.349l40.2,40.138H25.152V75.349Z' transform='translate(-25.149 165.48)' fill='url(%23linear-gradient)'/%3E%3Cpath id='Path_5' data-name='Path 5' d='M499.576,100.465l40.2,40.138H0V100.465Z' transform='translate(0.001 220.64)' fill='url(%23linear-gradient)'/%3E%3C/g%3E%3C/svg%3E%0A"),
            url("data:image/svg+xml,%3Csvg id='Group_191' data-name='Group 191' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='539.775' height='361.242' viewBox='0 0 539.775 361.242'%3E%3Cdefs%3E%3ClinearGradient id='linear-gradient' x1='1' y1='4.59' x2='-0.198' y2='4.545' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%23f8f8f8'/%3E%3Cstop offset='1' stop-color='%23fff' stop-opacity='0'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpath id='Path_1' data-name='Path 1' d='M140.808,0l-40.2,40.138H318.818V0Z' transform='translate(220.957 0)' fill='url(%23linear-gradient)'/%3E%3Cpath id='Path_2' data-name='Path 2' d='M115.656,25.116l-40.2,40.138h298.6V25.116Z' transform='translate(165.718 55.16)' fill='url(%23linear-gradient)'/%3E%3Cpath id='Path_3' data-name='Path 3' d='M90.5,50.233,50.305,90.37H429.294V50.233Z' transform='translate(110.48 110.32)' fill='url(%23linear-gradient)'/%3E%3Cpath id='Path_4' data-name='Path 4' d='M65.35,75.349l-40.2,40.138H484.534V75.349Z' transform='translate(55.239 165.479)' fill='url(%23linear-gradient)'/%3E%3Cpath id='Path_5' data-name='Path 5' d='M40.2,100.465,0,140.6H539.775V100.465Z' transform='translate(0 220.639)' fill='url(%23linear-gradient)'/%3E%3C/svg%3E%0A");
            background-position: bottom left, bottom right;
            background-repeat: no-repeat;
            background-size: 30%;
        }
    }
}

.full-width-content--dark {
    margin-bottom: 0;
    background-color: $primary;

    .block__img-overlay {
        background-color: $primary;
    }

    img.full-width-content--dark--bg {
        display: block !important;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    * {
        color: white !important;
    }

    .btn.btn-primary {
        @extend .btn-light;
        color: $primary !important;
    }
    .btn.btn-secondary {
        @extend .btn-outline-light;
        background: transparent;
    }

    .header-decorative {
        span {
            background-color: #fff;
        }
    }
}

.text-media-wide {
    overflow: hidden;
    .row {
        @include media-breakpoint-up(lg) {
            min-height: 550px;
        }
        @include media-breakpoint-up(xxxl) {
            min-height: 750px;
        }
    }
}

.text-media-wide--img {
    width: 74%;
    height: auto;
    transform: translateY(-47%) !important;
    top: 47% !important;
    z-index: 3;
    @include media-breakpoint-up(xl) {
        width: 60%;
        width: calc(1104px / 1.5);
    }
    @include media-breakpoint-up(xxl) {
        width: 60%;
        width: calc(1324px / 1.8);
    }
    @include media-breakpoint-up(xxxl) {
        width: 50%;
        width: calc(1582px / 1.7);
    }
    @include media-breakpoint-up(xwide) {
        width: 50%;
        width: calc(1766px / 2);
    }
}

.img-is-last {
    @include media-breakpoint-up(lg) {
        padding-right: $spacer;
    }
    @include media-breakpoint-up(xxxl) {
        padding-right: $spacer*2;
    }
}
.img-is-first {
    @include media-breakpoint-up(lg) {
        padding-left: $spacer;
    }
    @include media-breakpoint-up(xxxl) {
        padding-left: $spacer*2;
    }
}

.order-lg-last .text-media-wide--img {
    left: 50% !important;
}

.order-lg-first .text-media-wide--img {
    right: 60.5% !important;
    @include media-breakpoint-up(xl) {
        right: 60.125% !important;
    }
    @include media-breakpoint-up(xxl) {
        right: 58.125% !important;
    }
    @include media-breakpoint-up(xxxl) {
        right: 58.75% !important;
    }
    @include media-breakpoint-up(xwide) {
        right: 58.125% !important;
    }
}

.cta {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($primary,.85);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    @include media-breakpoint-up(lg) {
        width: 80%;
        left: 35%;
        //color: red !important;
    }
    @media screen and (min-width: 1102px) and (max-width: 1199px) {
        width: 90%;
        left: 25%;
        //color: lime !important;
    }
    @include media-breakpoint-up(xl) {
        width: 100%;
        left: 15%;
        //color: red !important;
    }
    @include media-breakpoint-up(xxl) {
        width: 115%;
        left: 0;
        //color: pink !important;
    }
    @include media-breakpoint-up(xxxl) {
        width: 115%;
        left: 0;
        //color: yellow !important;
    }
    @include media-breakpoint-up(xwide) {
        width: 115%;
        left: 0;
        //color: cyan !important;
    }
}
.text-media-wide {
    .order-lg-last {
        .cta {
            overflow: hidden;
            width: 100%;
            left: 0;
            @include media-breakpoint-up(xl) {
                width: 100%;
                left: 0;
                right: 15%;
                color: white !important;
            }
            @include media-breakpoint-up(xxl) {
                width: 115%;
            }

        }
    }
}

.gallery-list {
    @extend .row;
    justify-content: center;

    .list-width-item {
        position: relative;
        z-index: 1;
        @extend .col-md-5;
        margin-right: 0;
        margin-bottom: $spacer*.75;
    }

    .list-width-item-wide {
        @extend .col-md-10;
    }

    .cta {
        display: none;
    }

    .is-video {
        .cta {
            opacity: 1;
            top: 0;
            left: 0;
            width: calc(100% - 30px);
            margin-left: $spacer*.5;
            margin-right: $spacer*.5;
            height: 100%;
            background-color: rgba($primary,.85);
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.list-width-item {
    img {
        object-fit: cover;
        width: 100%;
        height: 386px;
    }
}

.list-width-item-wide {
    img {
        height: 576px;
    }
}

.project-list {
    @extend .row;
    justify-content: start;

    .list-item-project {
        position: relative;
        z-index: 1;
        @extend .col-lg-3;
        @extend .col-md-4;
        @extend .col-sm-6;
        margin-right: 0;
        margin-bottom: $spacer*.75;
    }
}

.list-item-project {
    position: relative;

    img {
        aspect-ratio: 1 / 1;
        object-fit: cover;
        width: 100%;
    }

    @include media-breakpoint-down(md) {
        max-height: 25vw;
        img {
            height: 100%;
        }
    }

    .list-item-project-title {
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        height: 100%;
        background: rgb(0, 58, 105);
        background: linear-gradient(180deg, rgba(0, 58, 105, 1) 0%, rgba(0, 58, 105, 0) 65%);
        transition: background 1s ease 0s;

        h3 {
            font-size: 1rem;

        }

        .title-wrapper {
            transition: transform .8s ease 0s;
        }

        img.project-bride-icon {
            display: none;
            width: 98px;
            height: 38px;
            margin-bottom: 0;
            opacity: 0;
            transition: all 3s ease 0s;
        }

        @include media-breakpoint-down(md) {
            background: rgba($primary, .6);
            .title-wrapper,
            img.project-bride-icon {
                transition: none;
            }
            .title-wrapper {
                display: flex;
                align-items: center;
                transform: none !important;
            }
            img.project-bride-icon {
                display: none !important;
                opacity: 0 !important;
            }
        }
    }

    a:hover, a:active {
        .list-item-project-title {
            background: $primary !important;
        }

        .title-wrapper {
            transform: translateY(35%);
        }

        img.project-bride-icon {
            width: 98px;
            height: 38px;
            display: block;
            margin-bottom: $spacer*.25;
            opacity: 1;
        }
    }

}


.accordion-button {
    font-size: 1.45rem;
    background-color: $soft;
    color: $primary;
}

.accordion-button:not(.collapsed) {
    background-color: $primary;
    color: white;
}

.accordion-button::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='31.572' height='31.572' viewBox='0 0 31.572 31.572'%3E%3Cg id='Group_189' data-name='Group 189' transform='translate(-1544.377 -208.403)'%3E%3Cline id='Line_2' data-name='Line 2' x2='21.673' y2='21.673' transform='translate(1549.327 235.025) rotate(-90)' fill='none' stroke='%23003A69' stroke-linecap='round' stroke-width='7'/%3E%3Cline id='Line_3' data-name='Line 3' x1='21.673' y2='21.673' transform='translate(1549.327 235.025) rotate(-90)' fill='none' stroke='%23003A69' stroke-linecap='round' stroke-width='7'/%3E%3C/g%3E%3C/svg%3E%0A");
    transform: rotate(45deg);
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='31.572' height='31.572' viewBox='0 0 31.572 31.572'%3E%3Cg id='Group_189' data-name='Group 189' transform='translate(-1544.377 -208.403)'%3E%3Cline id='Line_2' data-name='Line 2' x2='21.673' y2='21.673' transform='translate(1549.327 235.025) rotate(-90)' fill='none' stroke='%23fff' stroke-linecap='round' stroke-width='7'/%3E%3Cline id='Line_3' data-name='Line 3' x1='21.673' y2='21.673' transform='translate(1549.327 235.025) rotate(-90)' fill='none' stroke='%23fff' stroke-linecap='round' stroke-width='7'/%3E%3C/g%3E%3C/svg%3E%0A");
    transform: rotate(-90deg);
}

.three-col-container {
    .col-md-4:nth-child(2n) {
        .btn-secondary {
            @extend .btn-primary;
        }
    }

    .col-md-4:not(:nth-child(3n)) {
        border-right: 1px solid #B7B7B7;
    }

    h3 {
        font-family: $font-family-serif;
        font-weight: 700 !important;
    }
}

.crossing-the-bridge-section {
    .crossing-the-bridge-top {
        background: rgb(173,190,198);
        background: linear-gradient(150deg, rgba(173,190,198,1) 0%, rgba(40,122,196,1) 100%);
    }

    h2 {
        font-family: $font-family-sans-serif;
    }
    .block__img-overlay {
        height: 50%;
        opacity: 1;
        background: rgb(255,255,255);
        background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    }
}
.crossing-the-bridge-container {
    margin-top: -$spacer*6;
    background-color: $primary;
    .block__img-overlay.crossing-the-bridge-overlay {
        opacity: .5;
        height: 100%;
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='539.775' height='361.241' viewBox='0 0 539.775 361.241'%3E%3Cdefs%3E%3ClinearGradient id='linear-gradient' y1='4.59' x2='2.317' y2='4.453' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%23fff' stop-opacity='0.8'/%3E%3Cstop offset='1' stop-color='%23fff' stop-opacity='0'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg id='Group_194' data-name='Group 194' opacity='0.15'%3E%3Cpath id='Path_1' data-name='Path 1' d='M278.62,0l40.2,40.138H100.61V0Z' transform='translate(-100.61 0)' fill='url(%23linear-gradient)'/%3E%3Cpath id='Path_2' data-name='Path 2' d='M333.858,25.116l40.2,40.138H75.457V25.116Z' transform='translate(-75.456 55.16)' fill='url(%23linear-gradient)'/%3E%3Cpath id='Path_3' data-name='Path 3' d='M389.1,50.233l40.2,40.138H50.305V50.233Z' transform='translate(-50.304 110.32)' fill='url(%23linear-gradient)'/%3E%3Cpath id='Path_4' data-name='Path 4' d='M444.336,75.349l40.2,40.138H25.152V75.349Z' transform='translate(-25.149 165.479)' fill='url(%23linear-gradient)'/%3E%3Cpath id='Path_5' data-name='Path 5' d='M499.577,100.465l40.2,40.138H0V100.465Z' transform='translate(0.001 220.639)' fill='url(%23linear-gradient)'/%3E%3C/g%3E%3C/svg%3E%0A"), url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='539.775' height='361.242' viewBox='0 0 539.775 361.242'%3E%3Cdefs%3E%3ClinearGradient id='linear-gradient' x1='1' y1='4.59' x2='-1.317' y2='4.453' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%23fff' stop-opacity='0.8'/%3E%3Cstop offset='1' stop-color='%23fff' stop-opacity='0'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg id='Group_195' data-name='Group 195' opacity='0.15'%3E%3Cpath id='Path_1' data-name='Path 1' d='M140.808,0l-40.2,40.138H318.818V0Z' transform='translate(220.957 0)' fill='url(%23linear-gradient)'/%3E%3Cpath id='Path_2' data-name='Path 2' d='M115.656,25.116l-40.2,40.138h298.6V25.116Z' transform='translate(165.718 55.16)' fill='url(%23linear-gradient)'/%3E%3Cpath id='Path_3' data-name='Path 3' d='M90.5,50.233,50.305,90.37H429.294V50.233Z' transform='translate(110.48 110.32)' fill='url(%23linear-gradient)'/%3E%3Cpath id='Path_4' data-name='Path 4' d='M65.35,75.349l-40.2,40.138H484.534V75.349Z' transform='translate(55.239 165.479)' fill='url(%23linear-gradient)'/%3E%3Cpath id='Path_5' data-name='Path 5' d='M40.2,100.465,0,140.6H539.775V100.465Z' transform='translate(0 220.639)' fill='url(%23linear-gradient)'/%3E%3C/g%3E%3C/svg%3E%0A");
        background-position: center left, center right;
        background-repeat: no-repeat;
        background-size: 15%;
    }
}

img.crossing-the-bridge-img {
    width: 100%;
    height: $spacer*20;
    @include media-breakpoint-up(lg) {
        height: $spacer*30;
    }
}
//Accessibility
.skip-link {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
.skip-link:focus {
    position:absolute;
    left:0;
    top:0;
    width:auto;
    padding: $spacer;
    height:auto;
    overflow:visible;
    background-color:white;
    border: 1px solid $primary;
}
a.cover-block {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
}

.cta {
    @include media-breakpoint-down(xxl) {
        svg {
            max-width: 100px;
        }
    }
    @include media-breakpoint-between(xl, xxxl) {
        svg {
            max-width: 120px;
        }
    }
}