.footer-form {
    position: relative;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 12.4px;
    width: 96%;
    margin: auto;
    margin-top: -$spacer*3;
    z-index: 1;
    @include media-breakpoint-up(lg) {
        margin: 0;
        left: 0;
        position: absolute;
        width: 48vw;
        transform: translate(0%, -50%); /* This centers the div */
        top: 50%;
        max-width: 904px;
    }
}
footer {
    background-color: $brand-black;

    a {
        text-decoration: none;
    }
    .footer-logo {
        img {
            max-width: 240px;
            height: auto;
            @include media-breakpoint-up(lg) {
                max-width: 318px;
            }
        }
    }

    .footer-nav {
        padding-left: 0;
        width: 100%;
        list-style: none;
        text-align: center;
        @include media-breakpoint-up(lg) {
            padding-right: $spacer;
            display: flex;
            justify-content: flex-end;
        }
        .nav-link {
            font-size: .8rem;
            text-transform: uppercase;
            color: white;
            margin-bottom: $spacer/2;
            font-weight: 600;
            &.active {
                color: #76a64e;
            }
            @include media-breakpoint-up(lg) {
                margin-left: $spacer;
                margin-bottom: 0;
            }
        }
    }
    .footer-bar {
        p {
            font-size: 90%;
        }
        a {
            text-decoration: none;
            &:hover {
                text-decoration: underline;
                text-underline-offset: 6px;
            }
        }
    }

}

.footer-logo {
    width: 80%;
    height: auto;
    @include media-breakpoint-up(xs) {
        width: 408px;
    }
}

footer {
    #menu-footer-menu {
        margin-bottom: $spacer;
        .nav-item {
            .nav-link {
                color: $primary;
                font-size: 90%;
                font-weight: 500;
                line-height: 1.85;
                padding: 0;
                text-decoration: underline;
                padding-left: $spacer/2;
                padding-right: $spacer/2;
                text-decoration: none;
                position: relative;

            }
            &:not(:last-child) {
                .nav-link {
                    &:after {
                        content: ' | ';
                        position: absolute;
                        right: 0;
                    }
                }
            }
        }

    }
}
